.theme-color, a,
.text-primary,
.list-group-item.active > .badge, .btn-link, .btn-link:hover, .btn-link:focus, .pagination > .active > a,
.pagination > .active > span, .nav-pills > li.active > a .badge, .s_header_type_2 #header .col-icon, .home-reviews-slider .item-name, .hm-btn, .hm-btn:hover, .side-menu-accordion > li .submenu li > .link a:hover {
  color: #fd9b28;
}

.theme-bg-color, .badge,
.label-primary, .homeslider .slick-dots li.slick-active button, .side-banner .slick-dots li.slick-active button, .modal-header,
.logo .logo-default {
  background-color: #fd9b28;
}

.theme-bg, .pagination li.active a, .pagination li.active span, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .home-services-icons .item-icon .fa, .homes-icons-block-wrap, .hm-btn.active {
  background-color: #fd9b28;
}

.btn-default {
  border: 1px solid #eaeaea;
  color: #222222 !important;
}

.btn-default.btn-border {
  border-width: 2px;
}

.btn-default:hover, .btn-default:focus {
  background-color: #434343;
  border-color: #434343;
  color: #fff !important;
}

.btn-dark {
  background-color: #303030;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active {
  background-color: #4f4f4f;
  color: #fff;
  border-color: #4f4f4f;
}

.btn-dark.btn-border {
  color: #303030;
  border-color: #303030;
  background: transparent;
}

.btn-dark.btn-border:hover, .btn-dark.btn-border:focus, .btn-dark.btn-border:active, .btn-dark.btn-border.active {
  color: #fff;
  background: #303030;
  border-color: #303030;
}

.btn-primary {
  background-color: #fd9b28;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #fdaa48;
  color: #fff;
  border-color: #fdaa48;
}

.btn-primary.btn-border {
  color: #fd9b28;
  border-color: #fd9b28;
  background: transparent;
}

.btn-primary.btn-border:hover, .btn-primary.btn-border:focus, .btn-primary.btn-border:active, .btn-primary.btn-border.active {
  color: #fff;
  background: #fd9b28;
  border-color: #fd9b28;
}

.btn-success {
  background-color: #43ac6a;
  color: #fff;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  background-color: #5fb880;
  color: #fff;
  border-color: #5fb880;
}

.btn-success.btn-border {
  color: #43ac6a;
  border-color: #43ac6a;
  background: transparent;
}

.btn-success.btn-border:hover, .btn-success.btn-border:focus, .btn-success.btn-border:active, .btn-success.btn-border.active {
  color: #fff;
  background: #43ac6a;
  border-color: #43ac6a;
}

.btn-info {
  background-color: #5bc0de;
  color: #fff;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
  background-color: #74c9e3;
  color: #fff;
  border-color: #74c9e3;
}

.btn-info.btn-border {
  color: #5bc0de;
  border-color: #5bc0de;
  background: transparent;
}

.btn-info.btn-border:hover, .btn-info.btn-border:focus, .btn-info.btn-border:active, .btn-info.btn-border.active {
  color: #fff;
  background: #5bc0de;
  border-color: #5bc0de;
}

.btn-warning {
  background-color: #E99002;
  color: #fff;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  background-color: #eca128;
  color: #fff;
  border-color: #eca128;
}

.btn-warning.btn-border {
  color: #E99002;
  border-color: #E99002;
  background: transparent;
}

.btn-warning.btn-border:hover, .btn-warning.btn-border:focus, .btn-warning.btn-border:active, .btn-warning.btn-border.active {
  color: #fff;
  background: #E99002;
  border-color: #E99002;
}

.btn-danger {
  background-color: #F04124;
  color: #fff;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  background-color: #f25e45;
  color: #fff;
  border-color: #f25e45;
}

.btn-danger.btn-border {
  color: #F04124;
  border-color: #F04124;
  background: transparent;
}

.btn-danger.btn-border:hover, .btn-danger.btn-border:focus, .btn-danger.btn-border:active, .btn-danger.btn-border.active {
  color: #fff;
  background: #F04124;
  border-color: #F04124;
}

.btn-white {
  color: #000;
  background-color: #fff;
  color: #000;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active {
  background-color: white;
  color: #000;
  border-color: white;
}

.btn-white.btn-border {
  color: #fff;
  border-color: #fff;
  background: transparent;
}

.btn-white.btn-border:hover, .btn-white.btn-border:focus, .btn-white.btn-border:active, .btn-white.btn-border.active {
  color: #000;
  background: #fff;
  border-color: #fff;
}

.table thead.thead-color,
.table-condensed thead.thead-color {
  background-color: #fd9b28;
  color: #fff;
}

.table thead.thead-color tr > *,
.table-condensed thead.thead-color tr > * {
  border-color: transparent !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #eee;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #fd9b28;
}

.progress {
  background-color: #f5f5f5;
}

.progress-bar-primary {
  background-color: #fd9b28;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #fd9b28;
  border-color: rgba(0, 0, 0, 0.2);
}

.panel-default > .panel-heading {
  background-color: #fafafa;
}

.panel-success > .panel-heading {
  background-color: #43ac6a;
}

.panel-info > .panel-heading {
  background-color: #5bc0de;
}

.panel-warning > .panel-heading {
  background-color: #E99002;
}

.panel-danger > .panel-heading {
  background-color: #F04124;
}

.panel-primary {
  border-color: #fd9b28;
}

.panel-primary > .panel-heading {
  background-color: #fd9b28;
  border-color: #fd9b28;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #fd9b28;
  border-color: transparent;
}

.nav-pills > li.active > a .badge {
  background: #fff;
}

@media screen and (min-width: 768px) {
  .menubar .menu .submenu {
    border-color: #fd9b28;
  }
  .menubar .menu .submenu li:hover > .link a {
    background: #fd9b28;
  }
}

.s_menubar_dark .menubar {
  background: #333333;
}

.s_menubar_color .menubar {
  background: #fd9b28;
}

.s_menubar_white .menubar .menu-header {
  background: #fd9b28;
}

.s_menubar_white .menubar .menu > li.hover > .link a, .s_menubar_white .menubar .menu > li.active > .link a {
  color: #fd9b28;
}

@media screen and (max-width: 767px) {
  .s_menubar_white .menubar .menu li.active > .link a {
    color: #fd9b28;
  }
}

@media screen and (min-width: 768px) {
  .s_menubar_white .menubar .menubar-search .search-toggle {
    background: #fd9b28;
  }
}

.s_menubar_white_2 .menubar .menu-header {
  background: #fd9b28;
}

.s_menubar_white_2 .menubar .menu > li > .link a {
  color: #fd9b28;
}

.s_menubar_white_2 .menubar .menu > li.hover > .link a, .s_menubar_white_2 .menubar .menu > li.active > .link a {
  color: #333333;
}

@media screen and (max-width: 767px) {
  .s_menubar_white_2 .menubar .menu li > .link a {
    color: #fd9b28;
  }
  .s_menubar_white_2 .menubar .menu li.active > .link a {
    color: #333333;
  }
}

@media screen and (min-width: 768px) {
  .s_menubar_white_2 .menubar .menubar-search .search-toggle {
    background: #fd9b28;
  }
}

@media screen and (max-width: 767px) {
  .s_menubar_underline .menubar {
    background: #fd9b28;
  }
}

.s_menubar_underline .menubar .menu > li.active:before {
  background: #fd9b28;
}

@media screen and (min-width: 768px) {
  .s_menubar_underline .menubar .menu > li.hover > .link > a, .s_menubar_underline .menubar .menu > li:hover > .link > a {
    color: #fd9b28 !important;
  }
}

@media screen and (min-width: 768px) {
  .s_header_type_1.s_menubar_white .menubar .menu > li.active > .link a, .s_header_type_1.s_menubar_white_2 .menubar .menu > li.active > .link a {
    background: #fd9b28;
  }
}

@media screen and (min-width: 768px) {
  .s_menubar_underline .menubar .menubar-search .search-toggle {
    background: #fd9b28;
  }
}

.s_side_menu_dark .side-menu > li.active > .link a {
  background-color: #333333;
}

.s_side_menu_color .side-menu > li.active > .link a {
  background-color: #fd9b28;
}

.mobile-search-in {
  border-color: #fd9b28;
}

.search-dropdown {
  border-color: #fd9b28;
}

.search-dropdown button .fa {
  background: #fd9b28;
}

.search-dropdown button:hover .fa {
  background: #fdaa48;
}

.home-services-icons .item-icon .fa {
  border-color: #fd9b28;
}

.home-questions .question-icon {
  border-color: #fd9b28;
}

.home-questions .question-icon i {
  background: #fd9b28;
}

.home-questions .item-title a:hover .question-icon {
  background: #fd9b28;
}

.home-questions .item-title a:hover .question-icon i {
  background: #fff;
}

.link-border {
  border-color: rgba(253, 155, 40, 0.25);
}

.home-services-icons .item a:hover .item-icon .fa {
  background: #fff;
  color: #fd9b28;
}

.detail-thumbs-slider .image.active a {
  border-color: #fd9b28;
}

.tabs-ctrl a:hover {
  color: #fff;
  background-color: #fd9b28;
  border-color: #fd9b28;
}

.tabs-ctrl a.active {
  background: #fff;
  border-color: #fd9b28;
  color: #fd9b28;
}

.bx-filter .bx-ui-slider-pricebar-v,
.bx-filter .bx-ui-slider-handle:after {
  background: #fd9b28;
}

.bx-filter .bx-ui-slider-handle:hover:after {
  background: #fdaa48;
  /* gh */
}

.bx-filter .bx-filter-select-container.bx-active,
.bx-filter .bx-filter-select-container:focus {
  border-color: #fd9b28;
}

.bx-filter .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-filter .bx-filter-param-btn:hover,
.bx-filter .bx-filter-param-btn:active,
.bx-filter .bx-filter-param-btn:focus {
  border-color: #fd9b28;
}

.bx-filter .bx-filter-popup-result {
  background: #fd9b28;
}

.bx-filter .bx-filter-popup-result:after {
  color: #fd9b28;
}

.side-icons-block .item-icon .fa {
  color: #fd9b28;
}

#f_up:hover {
  color: #fff;
  border-color: #fd9b28;
  background: #fd9b28;
}

.block-accordion .panel > .panel-heading a[aria-expanded="true"] {
  background: #fd9b28;
}

/*# sourceMappingURL=theme.css.map */
